target/
*.iml
.idea/
solutions/
dot/
edges/
.DS_Store
*.zip
out/*
solution_classifier/model/test/*
solution_classifier/model/train/*
solution_classifier/model/knn/*
solution_classifier/model/out/*
solution_recognizer/server
solution_recognizer/outputs/*
solution_recognizer/sample-images/outputs/*
*.xcworkspacedata
*.xcuserstate
*.plist
*.egg-info
*/__pychache__/*